<div class="page-content">
	  
    <div class="list-block">
        <form id="simpleitemEdit" class="list-block">
            <ul>
                <input name="id" type="hidden" value="{{id}}">
                <li>
                <div class="item-content">
                    <div class="item-inner">
                    <div class="item-title label">Title</div>
                    <div class="item-input">
                        <input type="text" name="name" value="{{name}}"/>
                    </div>
                    </div>
                </div>
                </li>

                <li>
                <div class="item-content">
                    <div class="item-inner">
                    <div class="item-title label">Quantity</div>
                    <div class="item-input">
                        <input type="text" name="quantity"  value="{{quantity}}"/>
                    </div>
                    </div>
                </div>
                </li>

                <li>
                <div class="item-content">
                    <div class="item-inner">
                    <div class="item-title label">Price for piece</div>
                    <div class="item-input">
                        <input type="text" name="price_new"  value="{{price_new}}"/>
                    </div>
                    </div>
                </div>
                </li>
            
            </ul>
        </form>
    </div>
</div> 